  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/members">
        Members
      </a>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4>Welcome <span class="member-name"></span></h4>
      </div>
      <form id="profileForm">
        <div class="form-group">
          <label for="profilePic"><strong>Update Profile Picture:</strong></label>
          <input type="file" class="form-control" id="profilePic">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
